<configuration>

  <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="~/calendly_logs" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/event.log</file>
    <encoder>
      <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERRORS_ONLY" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/error.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ERRORS_ONLY" />
  </root>

  <logger name="com.sebwarnke.calendlyintegration" level="info">
    <appender-ref ref="FILE"/>
  </logger>


</configuration>